
*{
  margin: 0;
  padding: 0;
}
.text {
    text-align: center;
  }
  .bio {
    float: right;
    padding-right: 80px;
    padding-top: 40px;
  }
  .image {
    float: right;
    padding-right: 150px;
    padding-top: 30px;
  }
  .image:hover{
    position: relative;
    opacity: 0.9;
    top: -8px;
  }
  .navbar {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(19, 22, 22);
  }
  .navbar a {
    display: block;
    color: rgba(246, 239, 239);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }
  a {
    float: left;
  }
  .l {
    float: right;
  }
  .card-group{
    margin-top: 350px;
  }

  /* add some padding inside the card container */
  .container {
    padding: 28px 16px;
  }
  img {
    border-radius: 5px;
    float: left;
  }

 /* footer */
 .footer-basic {
    padding: 0;
    list-style-type: none;
    
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: black;
    color: white;
  }

  .footer-basic  {
    padding: 0 0px;
  }

  .footer-basic  a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }

  .footer-basic ul a:hover {
    opacity: 1;
  }

  .footer-basic .social {
    text-align: center;
    padding-bottom: 15px;
  }

  .footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 0px;
    color: inherit;
    opacity: 0.75;
  }

  .footer-basic .social > a:hover {
    opacity: 0.9;
  }

  .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }


/* media classes */
    /* selects unvisited link */
    a:link{
      background-color: brown;
    }
    /* selects visited link */
    a:visited{
      background-color: green;
    }
    /* the state happens when the user clicks on a link */
    a:active{
      background-color: blue;
    }
    /* the state happens when the user places their  */
    a:hover{
      background-color: yellow;
    }
    a:visited:hover{
      background-color:blueviolet;
    }
    a:link:hover{
      background-color: magenta;
    }
    /* the state that occurs when the user focuses on the link.
    This state can be seen when you tab to a link, or after you click on a link 
    e.g when you created an a blank target link like youtube*/
    a:focus{
      color: orangered;
    }
/* 
    .media{
      padding-bottom: 0px;
      margin-top: 0px;
      padding-top: 0px;
      
    } */

 